[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
python-anilist = "*"
animec = "*"
apraw = "*"
spotify = "*"
osu-tools = "*"
genshinstats = "*"
humanize = "*"
ossapi = "*"
inquirerpy = "*"
nudepy = "*"
augmentor = "*"
sympy = "*"
asyncpraw = "*"
typer = "*"
roblox = "*"
pyfiglet = "*"
"statcord.py" = "*"
tiktokapi = "*"
"nekos.py" = "*"
asyncdagpi = "*"
fastapi = "*"
uvicorn = "*"
itsdangerous = "*"
aerich = "*"
psutil = "*"
youtube-dl = "*"
download = "*"
watchgod = "*"
update-checker = "*"
pycord18n = "*"
black = "*"
pre-commit = "*"
mkdocs-material = "*"
pycordutils = "*"
pyshorteners = "*"
halo = "*"
py-cpuinfo = "*"
rich = "*"
py-cord = {git = "https://github.com/Pycord-Development/pycord.git"}

[dev-packages]

[requires]
python_version = "3.10"
